body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    padding: 10px;
    border: 5px solid black; /* Thick border */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Shadow for the whole box */
    border-radius: 10px; /* Rounded corners for the game board */
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f5ff8d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid #000000; /* Light border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Shadow for sub boxes */
    border-radius: 5px; /* Rounded corners for cells */
    transition: background-color 0.3s, transform 0.3s;
}

.cell:hover {
    background-color: #140f0f;
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fbf9f9;
    border-radius: 5px; /* Rounded corners for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}
